html{
    background-color: white;
    color: black;
}
      
.clock{
    position:absolute;
    width: 300px;
    height:300px;
    background:black;
    border-radius: 100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
}
.clock .quarter-marker:nth-child(1){
    position: absolute;
    width:5px;
    height:20px;
    background:pink;
    left:0;
    right:0;
    margin: auto;
}
.clock .quarter-marker:nth-child(2){
    position: absolute;
    width:20px;
    height:5px;
    background:pink;
    right:0;
    bottom:0;
    top:0;
    margin: auto 0;
}
.clock .quarter-marker:nth-child(3){
    position: absolute;
    width:5px;
    height:20px;
    background:pink;
    left:0;
    right:0;
    bottom:0;
    margin: 0 auto ; 
}
.clock .quarter-marker:nth-child(4){
    position: absolute;
    width:20px;
    height:5px;
    background:pink;
    left:0;
    bottom:0;
    top:0;
    margin:auto ; 
}
.clock .marker:nth-child(1){
    position:absolute;
    width:5px;
    height:20px;
    background:pink;
    transform: rotate(30deg);
    left:73%;
    top:7%;
}
.clock .marker:nth-child(2){
    position:absolute;
    width:5px;
    height:20px;
    background:pink;
    transform: rotate(60deg);
    left:89%;
    top:23%;
}
.clock .marker:nth-child(3){
    position:absolute;
    width:5px;
    height:20px;
    background:pink;
    transform: rotate(120deg);
    left:89%;
    top:71%;
}
.clock .marker:nth-child(4){
    position:absolute;
    width:20px;
    height:5px;
    background:pink;
    transform: rotate(60deg);
    right:70%;
    top:9%;
}
.clock .marker:nth-child(5){
    position:absolute;
    width:5px;
    height:20px;
    background:pink;
    transform: rotate(150deg);
    left:73%;
    top:87%;
}
.clock .marker:nth-child(6){
    position:absolute;
    width:5px;
    height:20px;
    background:pink;
    transform: rotate(120deg);
    right:88%;
    top:21%;
}
.clock .marker:nth-child(7){
    position:absolute;
    width:5px;
    height:20px;
    background:pink;
    transform: rotate(30deg);
    left:26%;
    bottom:6%;
}
.clock .marker:nth-child(8){
    position:absolute;
    width:5px;
    height:20px;
    background:pink;
    transform: rotate(60deg);
    left:9%;
    bottom:23%;
}
.clock .circle{
    position:absolute;
    width:20px;
    height:20px;
    border-radius: 100%;
    background: white;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.second-hand{
    position: absolute;
    width:3px;
    height:40%;
    background:blue;
    top:10%;
    left:0;
    right:0;
    margin:auto;
}
.min-hand{
    position:absolute;
    width:6px;
    height:30%;
    background:red;
    left:0;
    right:0;
    top:20%;
    margin:auto;
}
.hour-hand{
    position:absolute;
    width:6px;
    height:20%;
    background:green;
    left:0;
    right:0;
    top:30%;
    margin:auto;
    transform-origin: bottom;
    transform: rotate(20deg)
}
